<div class="login-container" id="login">
  <h2>Đăng nhập</h2>
  <div class="form-group">
    <label for="username">Tên đăng nhập:</label>
    <input type="text" id="username" name="username" value="{{importuser.username}}" placeholder="Nhập tên đăng nhập">
    <p id="wnu" style="color: red; display: none;">Tên đăng nhập không được trống!!!</p>
  </div>
  <div class="form-group">
    <label for="password">Mật khẩu:</label>
    <input type="password" id="password" name="password" value="{{importuser.password}}" placeholder="Nhập mật khẩu">
    <p id="wnp" style="color: red; display: none;">Mật khẩu không được trống!!!</p>
  </div>
  <p class="{{wn}}" style="color: red; display: none;">Mật khẩu hoặc tên đang nhập không đúng!!!</p>
  <button class="button-log" id="btnLogin">Đăng nhập</button>
  <div class="or">Hoặc <br>
    <a style="color: red;" type="button" class="google-btn">Continue with Google</a>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {

    const username = document.querySelector("#username");
    const password = document.querySelector("#password");
    const wnu = document.querySelector("#wnu");
    const wnp = document.querySelector("#wnp");
    const login = document.querySelector("#login");
    const btnLogin = document.querySelector("#btnLogin");
    const google = document.querySelector(".google-btn");

    if (login.innerHTML.includes('<form id="formLogin" action="http://localhost:3000/login/" method="POST">')) {
      login.innerHTML = login.innerHTML.replace('<form id="formLogin" action="http://localhost:3000/login/" method="POST">', "");
    }

    btnLogin.addEventListener('click', function () {
      if (username.value === '' && password.value === '') {
        wnu.style.display = 'block';
        wnp.style.display = 'block';
        if (warning !== null) {
          warning.style.display = 'none';
        }
      } else if (password.value === '') {
        wnp.style.display = 'block';
        wnu.style.display = 'none';
        if (warning !== null) {
          warning.style.display = 'none';
        }
      } else if (username.value === '') {
        wnu.style.display = 'block';
        wnp.style.display = 'none';
        if (warning !== null) {
          warning.style.display = 'none';
        }
      } else {
        const username = document.querySelector("#username");
        const password = document.querySelector("#password");
        const uv = username.value;
        const pv = password.value;
        login.innerHTML = '<form id="formLogin" action="http://localhost:3000/login/" method="POST">' + login.innerHTML
        const formLogin = document.querySelector("#formLogin");
        const username1 = document.querySelector("#username");
        const password1 = document.querySelector("#password");
        username1.value = uv;
        password1.value = pv;
        formLogin.submit();
      }
    });

    const warning = document.querySelector(".warning");
    if (warning !== null) {
      warning.style.display = 'block';
    }

    google.addEventListener('click', function () {
      window.location.href = 'http://localhost:3000/auth/google'
    });

  })
</script>